#**F-strings (Formatted strings)**

The F-strings a way to embed an expression (variables or functions) inside a string

* **case 1:** F-strings use in print function

in this case 2 string variables are embed in a text and next it is printed

In [ ]:
name='Paul'
age=35
print(f'My name is {name} and i am {age} nice to meet you!')

My name is Paul and i am 35 nice to meet you!

* **case 2 :** Expression inside F-strings

Here over the 2 numerical variables the operation expressing the sum of both is also embed in a text

In [ ]:
a=255
b=65
print(f"the sum of {a} and {b} is {a+b}.")

the sum of 255 and 65 is 320.

* **case 3 :** Formatting number

Here a multiplication expression is integrate in a f-string and the decimal place is formatted in the displaying

In [ ]:
sales=150
unit_price = 5.325
print(f"Total price : USD {sales*unit_price:.3f}")

Total price : USD 798.750

* **case 4 :** Formatting Dates

A formatted date is embed in a text

In [ ]:
from datetime import datetime
today =datetime.now()
print(f'I read this code this {today:%A, %B %d, %Y at %I:%M %p} UTC')

I read this code this Friday, April 25, 2025 at 07:46 PM UTC

* **case 5 :** Dictionnary access

In [ ]:
# here we create a dictionnary variable
dic = {'name':'Alan', 'age':15}
print(f"Hello my name is {dic['name']} i'm {dic['age']}")

Hello my name is Alan i'm 15

* **case 6 :** Alignment and Padding

In [ ]:
for i in range (1,4):
  print(f'Number {i:03d}') #0 padded to 3 digits

Number 001
Number 002
Number 003

* **case 7 :** Multiline F-Strings

As estated in the title the f-string will be used to display a multiline expression

In [ ]:
# variable creation
name = 'David'
profession = 'Data Scientist'
message = (f" Hello! "
f"my name is {name} "
f"my occupation is {profession} "
f"Nice to meet you!"
)
print(message)

 Hello! my name is David my occupation is Data Scientist Nice to meet you

* **case 8 :** Calling a function

In this case a function is created within which the f-string is embed

In [ ]:
def message (name):
  return print(f"Hello! my name is {name}")
message("David")

Hello! my name is David